@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    background-color: #3882f6;
    color: white;
}

.welcome {
    background-color: #1F2937;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 16px;  
}

.sub-welcome {
    display: flex;
    justify-content: space-evenly;
    margin: 45px 20%;
}

.sign-up {
    text-align: left;
    width: 30%;
}

.sign-up li {
    margin: 10px 10px 5px 10px;
}

.headings {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.placeholder {
    display: flex;
    background-color: grey;
    text-align: center;
    align-items: center;
    margin: 75px 80px;
    margin-top: 20px;
    padding: 75px 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content > * {
    padding: 35px;
}

.info {
    display: flex;
    flex-direction: column;
}

.medium-headings {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 45px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container li {
    width: 100px;
    margin: 0 50px;
}

.card {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.card-text {
    width: 150px;
    margin-top: 10px;
}

.quotes {
    background-color: #e5e7eb;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 100px 27%;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}

.action {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 80px 20%;
    padding: 48px 5%;
    gap: 8px;
    border-radius: 8px;
    min-width: 180px;
}

.action-left {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.text {
    color: #e5e7eb;
}

.action-button {
    border: 2px solid white;
    width: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1F2937;
    color: white;
    padding: 32px;
}